<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cool.eye.ridding">

    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- &lt;!&ndash; 这个权限用于进行网络定位 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <!-- &lt;!&ndash; 这个权限用于访问GPS定位 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- Scan -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <application
        android:name=".launch.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.HomeActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.RidingAddActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.CarryDetailActivity"/>
        <activity android:name=".zone.card.ui.CaptureActivity"/>
        <activity
            android:name=".zone.card.ui.CardAddActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.CarryAddActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".login.ui.LoginActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".login.ui.RegisterActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".login.ui.SetPasswordActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.AddressActivity"/>
        <activity android:name=".launch.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".zone.contacts.ContactsActivity"/>
        <activity android:name=".zone.card.ui.CardActivity"/>
        <activity
            android:name=".zone.contacts.PassengerAddActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".zone.contacts.PassengerSettingActivity"/>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="cn.sudiyi.app.client.account.page.FeedbackActivity"/>
        <activity android:name=".zone.about.AboutActivity">
        </activity>
        <activity android:name=".zone.userinfo.UserInfoActivity"/>
        <activity android:name=".zone.card.ui.ScanResultActivity"/>

        <service
            android:name=".broadcast.GuardService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote"/>

        <receiver
            android:name=".broadcast.PhoneReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="1000"><!-- 媒体加载 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/><!-- 开机启动 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>